@charset "UTF-8";
/* Versão mobile first */
/* Globais */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    /* Centralizando o main com flexbox */
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
/* MAIN */
main.container{
    background-color: gray;
    width: 90vw;
    height: 200px;
}