@charset "UTF-8";
/* Versão Mobile First  (min-width: 320px)*/
/* Globais */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body, html{
    width: 100vw;
    height: 100vh;
}

/* HEADER */
header{
    text-align: center;
}
header img{
    width: 320px;
}

/* MAIN */
main{
    background-color: gray;
    width: 320px;
    height: 100vh;
    margin: auto;
    text-align: center;
}

