@charset "UTF-8";
/* Versão mobile first */
/* Globais */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    /* Centralizando o main com flexbox */
    background-color: #141414;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
/* MAIN */
main.container{
    background-color: #1F1F1F;
    width: 90vw;
    height: 400px;
    border-radius: 20px ;
}
main.container > div.imagem{
    margin-top: 30px; /* Afastando a div da borda de cima */
}
main.container img{ /* Configurações da imagem */
    border-radius: 70%;
    width: 100px;
    height: 100px;
    /* Centralizando a imagem */
    display: block;
    margin: auto;
}
